<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">Let's Hike</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="hero-image-top">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto col-sm-12">
      <h2>Welcome {{ email }}</h2>
      <h4>Your Preferences:</h4>
      <ul>
        <li>Minimum length: {{ minLength }}</li>
        <li>Maximum length: {{ maxLength }}</li>
        <li>Maximum Ascent: {{ maxAscent }}</li>
      </ul>
      <button class="btn btn-success btn-lg"><a href="/edit">Edit preferences</a></button>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/members.js"></script>