<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="hero-image-top">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h2>Search for a trail</h2>
      <form id="search-form">
        <div class="form-group">
          <label for="search-input">Search by City or Zip Code</label>
          <input type="text" class="form-control" id="search-input">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Find your next great hike</button>
      </form>
      <br />
      <h2>Let's Hike</h2>
      <ul class="list-group hike-list">
        <li class="list-group-item mb-3">Hike Trail One</li>
        <li class="list-group-item mb-3">Hike Trail Two</li>
        <li class="list-group-item mb-3">Hike Trail Three</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/search.js"></script>