<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="hero-image">
  <div class="overlay"></div>
  <div class="hero-text">
    <h1>Welcome Hikers!</h1>
    <p>Are you looking for a trail in the middle of Utah that will take 3 days to complete? Or maybe you want to go on a
      quick trail after work! No matter what type of hike you’re planning, we can help you find the best trails matching
      your preferences with an expansive 7 day weather forecast to adequately plan any type of hike. Don’t get rained
      out half way through a hike, use our technology to have as much fun as possible.</p>
    <button class="btn btn-outline-secondary btn-lg"><a href="#sign-up">Sign up-it's free</a></button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <a name="sign-up"></a>
      <h2>Sign Up Today!</h2>
      <form id="signup">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="git form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="minLength">Minimum Length in miles</label>
          <input type="number" class="form-control" id="minLength" name="minLength" required>
        </div>
        <div class="form-group">
          <label for="maxLength">Maximum Length in miles</label>
          <input type="number" class="form-control" id="maxLength" name="maxLength" required>
        </div>
        <div class="form-group">
          <label for="maxAscent">Maximum Ascent in feet</label>
          <input type="number" class="form-control" id="maxAscent" name="maxAscent" required>
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <br />
      <p>Or log in <a href="/login">here</a></p>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/signup.js"></script>